<div id="pricing" class="pricing-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>Pricing Table</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="pri_table_list">
          <h3>basic <br> <span>$80 / month</span></h3>
          <ol>
            <li class="check">Online system</li>
            <li class="check cross">Full access</li>
            <li class="check">Free apps</li>
            <li class="check">Multiple slider</li>
            <li class="check cross">Free domin</li>
            <li class="check cross">Support unlimited</li>
            <li class="check">Payment online</li>
            <li class="check cross">Cash back</li>
          </ol>
          <button>sign up now</button>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="pri_table_list active">
          <span class="saleon">top sale</span>
          <h3>standard <br> <span>$110 / month</span></h3>
          <ol>
            <li class="check">Online system</li>
            <li class="check">Full access</li>
            <li class="check">Free apps</li>
            <li class="check">Multiple slider</li>
            <li class="check cross">Free domin</li>
            <li class="check">Support unlimited</li>
            <li class="check">Payment online</li>
            <li class="check cross">Cash back</li>
          </ol>
          <button>sign up now</button>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="pri_table_list">
          <h3>premium <br> <span>$150 / month</span></h3>
          <ol>
            <li class="check">Online system</li>
            <li class="check">Full access</li>
            <li class="check">Free apps</li>
            <li class="check">Multiple slider</li>
            <li class="check">Free domin</li>
            <li class="check">Support unlimited</li>
            <li class="check">Payment online</li>
            <li class="check">Cash back</li>
          </ol>
          <button>sign up now</button>
        </div>
      </div>
    </div>
  </div>
</div>