
<div class="our-skill-area area-padding-2">
  <div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">95%</div>
            </div>
            <div class="single-skill">
              <div class="progress-circular">
                
                <h3 class="progress-h4">Web Design</h3>
              </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">85%</div>
            </div>
            <div class="single-skill">
              <div class="progress-circular">
                
                <h3 class="progress-h4">Graphics Design</h3>
              </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
            <div class="single-skill">
              <div class="progress-circular">
                
                <h3 class="progress-h4">Php Developer</h3>
              </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">65%</div>
            </div>
            <div class="single-skill">
              <div class="progress-circular">
                <h3 class="progress-h4">Java Script</h3>
              </div>
            </div>
        </div>
    </div>
</div>
</div>