<div class="wellcome-area" style="background-position: 50% -46px;">
  <div class="well-bg">
    <div class="test-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="wellcome-text" style="background-position: 50% -26px;">
            <div class="well-text text-center">
              <h2>Welcome To Our eBusiness</h2>
              <p>
                Busuness Lorem ipsum dolor sit amet, consectetur adipiscing elit.luctus est eget congue.
              </p>
              <div class="subs-feilds">
                <div class="suscribe-input">
                  <input type="email" class="email form-control width-80" id="sus_email" placeholder="Email">
                  <button type="submit" id="sus_submit" class="add-btn width-20">Subscribe</button>
                  <div id="msg_Submit" class="h3 text-center hidden"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>