<div class="faq-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>Faq Question</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="faq-details">
          <div class="panel-group" id="accordion">
            <!-- Panel Default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="check-title">
                    <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                                              <span class="acc-icons"></span>Consectetur adipisicing elit.
                    </a>
                  </h4>
              </div>
              <div id="check1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>
                    Redug Lefes dolor sit amet, consectetur adipisicing elit. Aspernatur, tempore, commodi quas mollitia dolore magnam quidem repellat, culpa voluptates laboriosam maiores alias accusamus recusandae vero
                  </p>
                </div>
              </div>
            </div>
            <!-- End Panel Default -->
            <!-- Panel Default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="check-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#check2">
                                              <span class="acc-icons"></span> Dolore magnam quidem repellat.
                    </a>
                  </h4>
              </div>
              <div id="check2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Redug Lefes dolor sit amet, consectetur adipisicing elit. Aspernatur, tempore, commodi quas mollitia dolore magnam quidem repellat, culpa voluptates laboriosam maiores alias accusamus recusandae vero aperiam sint nulla beatae eos.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Panel Default -->
            <!-- Panel Default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="check-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#check3">
                                              <span class="acc-icons"></span>Redug Lefes dolor sit.
                    </a>
                  </h4>
              </div>
              <div id="check3" class="panel-collapse collapse ">
                <div class="panel-body">
                  <p>
                    Redug Lefes dolor sit amet, consectetur adipisicing elit. Aspernatur, tempore, commodi quas mollitia dolore magnam quidem repellat, culpa voluptates laboriosam maiores alias accusamus recusandae vero aperiam sint nulla beatae eos.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Panel Default -->
            <!-- Panel Default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="check-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#check4">
                                              <span class="acc-icons"></span>Maiores alias accusamus
                    </a>
                  </h4>
              </div>
              <div id="check4" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Redug Lefes dolor sit amet, consectetur adipisicing elit. Aspernatur, tempore, commodi quas mollitia dolore magnam quidem repellat, culpa voluptates laboriosam maiores alias accusamus recusandae vero aperiam sint nulla beatae eos.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Panel Default -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="tab-menu">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#p-view-1" role="tab" data-toggle="tab">Project</a>
            </li>
            <li>
              <a href="#p-view-2" role="tab" data-toggle="tab">Planning</a>
            </li>
            <li>
              <a href="#p-view-3" role="tab" data-toggle="tab">Success</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="p-view-1">
            <div class="tab-inner">
              <div class="event-content head-team">
                <h4>Project</h4>
                <p>
                  Redug Lares dolor sit amet, consectetur adipisicing elit. Animi vero excepturi magnam ducimus adipisci voluptas, praesentium maxime necessitatibus in dolor dolores unde ab, libero quo. Aut, laborum sequi.
                </p>
                <p>
                  voluptas, praesentium maxime cum fugiat,magnam ducimus adipisci voluptas, praesentium architecto ducimus, doloribus fuga itaque omnis placeat.
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="p-view-2">
            <div class="tab-inner">
              <div class="event-content head-team">
                <h4>Planning</h4>
                <p>
                  voluptas, praesentium maxime cum fugiat,magnam ducimus adipisci voluptas, praesentium architecto ducimus, doloribus fuga itaque omnis.
                </p>
                <p>
                  Redug Lares dolor sit amet, consectetur adipisicing elit. Animi vero excepturi magnam ducimus adipisci voluptas, praesentium maxime necessitatibus in dolor dolores unde ab, libero quo. Aut.
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="p-view-3">
            <div class="tab-inner">
              <div class="event-content head-team">
                <h4>Success</h4>
                <p>
                  voluptas, praesentium maxime cum fugiat,magnam ducimus adipisci voluptas, praesentium architecto ducimus, doloribus fuga itaque omnis placeat.
                </p>
                <p>
                  voluptas, praesentium maxime cum fugiat,magnam ducimus adipisci voluptas, praesentium architecto ducimus, doloribus fuga itaque omnis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Row -->
  </div>
</div>